venv/

# large files
ml_notebooks/fra_mixed_2009_1M
ml_notebooks/translations/fra-eng.tei

# react dependencies
frontend/node_modules

# ml model weights etc.
ml_notebooks/sentence_categorisation/kmeans.pkl
